body {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background: #2C353A;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 3em;
}

p {
    font-size: 2em;
}

#header {
    height: 100vh;
    color: #fed766;
}

#header .logo {
    margin-top: 10vh;
}

#header .statement {
    margin: 10vh auto;
}

#header .down-arrow {
    font-size: 2em;
    color: #fed766;
    padding: 0;
    margin-bottom: 10%;2
}

#about {
    height: auto;
    background: #fff;
    color: #000;
}

#about h1 {
    margin-top: 10vh;
}

#about p {
    font-size: 2em;
}

#about #me {
    height: 50vh;
    margin-bottom: -1vh;
}

#tech-stack {
    background: #eee;
    color: #000;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.3);
    padding-bottom: 5vh;
}

#tech-stack p:hover {
    color: #fed766;
}

.stack-1, .stack-2, .stack-3 {
    margin: 0 40px;
}

#quote-content p {
    color: #eee;
}

#contact-section {
    height: auto;
    background: #fed766;
    color: #000;
}

.contact-list li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

/* Contact Form */

.contact-form #name {
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.contact-form #email {
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.contact-form #subject {
    width: 50vw;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.contact-form #msg {
    width: 50vw;
    height: 30vh;
    margin: 10px auto;
    padding: 10px 20px 0px;
    border-radius: 8px;
}

#form-button {
    height: 10vh;
    margin-top: 20px;
}

#form-button .btn {
    border-radius: 6px;
    height: 6vh;
    width: 20vw;
    font-family: 'ubuntu' Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #eee;
    transition: all .2s ease-in-out;
}

#form-button .btn:hover {
    border-radius: 6px;
    height: 6vh;
    width: 20vw;
    font-family: 'ubuntu' Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #2C353A;
    color: #eee;
    transform: scale(1.1);
}

#footer {
    height: 10vh;
}

#footer li a img {
    height: 60px;
    margin: 0 20px;
    transition: all .2s ease-in-out;
}

#footer li a img:hover {
    height: 60px;
    margin: 0 20px;
    transform: scale(1.1);
}

/* Arrow bounce animation */

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* Grid Setup */

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(3, minmax(auto, 2fr)) 1fr;
    }

    #header .logo {
        grid-column: 2/5;
    }

    #header .statement {
        grid-column: 2/5;
    }

    #header .down-arrow {
        grid-column: 3/4;
    }

    #about h1 {
        grid-column: 2/5;
    }

    #about .about-content {
        grid-column: 2/5;
    }

    #about .about-image {
        grid-column: 2/5;
    }

    #tech-stack h1 {
        grid-column: 2/5;
    }

    #tech-stack .stack-1 {
        grid-column: 2/3;
    }

    #tech-stack .stack-2 {
        grid-column: 3/4;
    }

    #tech-stack .stack-3 {
        grid-column: 4/5;
    }

    #quote-content p {
        grid-column: 2/5;
    }

    #contact-section h1 {
        grid-column: 2/5;
    }

    #contact-section .contact-form {
        grid-column: 2/5;
    }

    #footer .contact-list {
        grid-column: 2/5;
        align-self: center;
    }
}